
		*{box-sizing:
			 border-box;}
		body{
			margin: 0;
		}
		#contenedor{
			max-width: 1000px;
			position: relative;
			margin:auto;
      
		}
		.antes, .despues{
			cursor: pointer;
			position: absolute;
			top:50%;
			width: auto;
			padding: 1em;
	    	color:white;
			background-color: blue;
			font-weight: bold;
			font-size: 18px;
			transition: 0.5s ease;
			border-radius: 0 3px 3px 0;
		}
		.despues{
			right:0;
			border-radius: 3px 0 0 3px;
		}
		.antes:hover, .despues:hover{
			background-color: rgb(47, 83, 159);
		}
		.texto{
			color: rgba(251, 251, 251, 0.864);
			font-size: 3em;
			font-weight: bolder;
			position: absolute;
			top: 1px;
			left: 20px;
			width: 100%;
		
		}
		.numero{
			color:white;
			font-size: 3em;
			padding: 8px 12px;
			position: absolute;
			top:0;
			right: 20px;
		}
		.bolita{
			cursor: pointer;
			height: 15px;
			width: 15px;
			margin-top: 0 2px;
			background-color: #c8b17e;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 1s ease;
		}
		#bolitas{ 
			text-align: center; 
		}
		.activo, .bolita:hover{
			background-color: #4b2d0a;
		}
		.fade{
			-webkit-animation-name: fade;
			-webkit-animation-duration: 1s;
			animation-name: fade;
			animation-duration: 1s;
		}
		@-webkit-keyframes fade{
			from{
				opacity: .2;
               
			}
			to{
				opacity: 1;
              
			}
		}
		@keyframes fade{
			from{
				opacity: .2;
			}
			to{
				opacity: 1;
			}
		}
		@media only screen and (max-width: 400px){
			.antes, .despues, .texto, .numero,.bolita{ 
				font-size: 10px;
				
			 }
		}
	
