
		*{
            margin:0;
            padding: 0;
        }

		#menu{
			background-color: orange;
			position: fixed;
			top:-50px;
			width: 100%;
			display: block;
			transition: top 0.5s;
		}
		#menu a{
			float: left;
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 1em;
		}
		#menu a:hover{
			background-color: gray;
		}
		.contenido{
			padding: 16px 16px 2500px;
			font-size: 2em;
		}
