
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

.contenido{
 width: 30%;
 height: 50%;
 border: 1px solid black;
 display: block;
 margin: 50px auto;
}
.modal::backdrop{
background-color: rgba(0,0,0,.45);
filter: blur(6px);
}

.modal{
 max-width: 200px;  /*darle un maxwidth para que no se expanda mas*/
}

